#addw{
    text-align: right;
    margin: 0;
    padding: 10rem, 10rem,10rem, 10rem
}
.add{
    margin: 10rem;
    border-style: groove;
    padding: 10rem;
}
#aa{
    text-indent: 50px;
}
#end{
    text-align: right;
}